* {
	margin:0;
	padding: 0;

}

.menu {
	background-color: rgb(82, 163, 80);
	color:white;
	list-style:none;
	margin:0px;
	padding:0px;
}

.menu li {
	margin:0px;
	display: inline-block;
}

.menu li a {
	padding: 15px;
	display: inline-block;
	color:white;

}

.menu li a:hover{
	background: white;
	color: black;

}

a {
	font-size: 20px;
	text-decoration: none;
}

.menu-fixed {
  position: fixed;
  z-index:1000px;
  top:0;
  width: 100%;
  box-shadow:0 5px 20px 0 black;
}

body {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

header{
	margin-bottom: 50%;
}

.cabecera {
	background-color:rgb(255, 255, 255);
}

.contenido {
		background-color: rgb(255, 255, 255)
}

p {
	width: 600px;
	font: 20px sans-serif;
	font-size: 25px;
	color: rgb(82, 163, 80);
	font-weight: bold;
}

h1 {
	font-size: 50px;;
}

video {
	border:3px solid;
	box-shadow: 0 10px 20px 0 black;
}

.separador {
	background-color: rgb(82, 163, 80);
	width: 20%;
	height: 2px;
}

.redes {
	margin-top: 50px;
	background-color: rgb(82, 163, 80);
	width: 100%;
	height: 25px:

}
